.homePage {
  background-image: url("./images/First\ last\ moments\ of\ Itomori\ \(Night\ sky\ only\).png");
  background-size: cover;
  background-blend-mode: lighten;
  background-color: #668add80;
  /* extra padding because every other way was too complicated lol */
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.transparentAndColour {
  background-color: #2E2F30CC;
}

.secondaryText {
  color: #5FA3E8;
}

/* change accordian icon colors (so it fits on black bg) */
.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}